<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}666ch{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link href="{{ asset('css/main.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('css/index.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('css/thread.css') }}" type="text/css" rel="stylesheet" />
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        {% endblock %}

    </head>
    <body id="main">
        <div class="container ">
            {% block body %}{% endblock %}
        </div>
        
        {% block javascripts %}
            <script src="/js/thread0.js"></script>
        {% endblock %}

    </body>
</html>
